---
import { getBanner } from "@/utils/cms"
import BaseLayout from "@layouts/BaseLayout.astro"
import Group from "@components/ContentPage/Group.svelte"

interface Props {
    title: string
    hideTitle?: boolean
    description: string
    robots?: boolean
    style?: string
}

const {
    title,
    hideTitle = false,
    description,
    robots = true,
    style = "",
} = Astro.props

const { BASE_URL } = import.meta.env
const banner = await getBanner(Astro.url)
---

<BaseLayout title={title} description={description} robots={robots}>
    <!-- HERO -->
    <section class="h-28 w-full sm:h-40 md:h-48 lg:h-72">
        <div class="flex
                w-full flex-col items-center">
            <img
                src={banner.url}
                alt={banner.alt}
                width="1920"
                height="540"
                class="fixed top-24 -z-10 w-full scale-150 md:top-16 lg:top-24 xl:top-16"
                fetchpriority="high"
            />
            <div class="h-40 w-full sm:h-64 lg:h-[30rem]"></div>
        </div>
        <img
            src={`${BASE_URL}/graphics/swooshes/Asset 8.svg`}
            alt=""
            class="pointer-events-none relative z-10
                -mb-52 -translate-y-[60%]
                -rotate-[4deg] scale-150
                sm:-mb-64 sm:-translate-y-[75%] md:-mb-80 md:-translate-y-[64%] lg:relative lg:-top-[8.6rem]
                lg:-translate-y-[60%]"
        />
    </section>

    <article
        class={`
            w-full min-h-[36rem] pt-12 pb-24 sm:pt-16 lg:pt-24
            flex flex-col items-center gap-10
            bg-offwhite
            ${style}`}
    >
        {
            !hideTitle && (
                <Group>
                    <h1>{title}</h1>
                </Group>
            )
        }
        <slot />
    </article>
</BaseLayout>
